
/*
Author : Kaushik Narayan Balasubramanian 
   
*/

body {
	min-width: 1000px;
	background-color : #cccc00;
	}

#header-wrapper, #footer-wrapper {
	min-width: 960px;
	background-color: #ffff00;
}

#logo {
	max-width: 8em;
	align: center;
}

#header-wrapper header nav ul {
	margin: 0;
	padding: 5px;
	height:100px;
	overflow: hidden;
	font-size: 2em;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#header-wrapper header nav ul li {
	display: inline;
}

#header-nav ul li a{
	text-decoration: underline;
	margin: 5px 5px;
}

.nav-item a {
	color: black;
	padding: 1px 1px;
}

#featured-wrapper {
	background-color:white;
	height: 300px;
	width: 1000px;
	margin: 0 auto;
	padding: 5px 5px;
}

#align {
	margin: 0 auto;
	height: 100%;
	width: 90%;
}

#item {
	float:right;
	margin: 2px;
	height: 200px;
	width: 240px;
}

#text {
	float: left;
	width: 70%;
	min-height: 100%;
	color: #3B170B;
	padding: 5px 5px;
}

#text h1 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#text p {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#footer-wrapper {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#footer-wrapper footer {
	height: 150px;
	width: 960px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}

#footer-wrapper footer #footer-info {
	color: #EE1818;
	font-size: 18px;
	position: absolute;
	top: 20px;
	right: 20px;
	text-align: right;
}

#footer-wrapper footer nav ul {
	margin: 20px 0 0 10px;
	padding: 5px;
	list-style-type: none;
}

#footer-wrapper footer nav ul li a {
	color: #EE1818;
	text-decoration: none;
	font-size: 18px;
}

form{
margin: auto;
text-align: center;
}